@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
    --main-color: #0065e5;
    --secondary-color: #1b0637;
    --Neutral-50: #f9f9f9;
    --Neutral-300: #e1e1e1;
    --Neutral-500: #b5b5b5;
    --Neutral-700: #505050;
    --Neutral-900: #252525;
    --main-section-padding: 112px;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
}
body {
    background-color: var(--Neutral-50);
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem !important;
    }
    a {
        font-size: 0.92rem !important;
    }
}
input,
textarea {
    outline: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1260px;
    width: calc(100% - 40px);
    margin: auto;
}
header {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    z-index: 2;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    max-width: 1260px;
    margin: auto;
}
.header-container menu a {
    color: var(--secondary-color);
    position: relative;
    transition: 0.2s;
}
.header-container menu a.active {
    color: var(--main-color);
    font-weight: 900;
}
.header-container menu a:hover {
    color: var(--main-color);
}
.header-container menu a::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 0;
    transition: 0.6s;
}
.header-container menu a.active::after,
.header-container menu a:hover::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    border-radius: 51px;
}
menu {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 32px;
    transition: 0.4s;
}
.header-container a.btn {
    padding: 16px 24px;
    background: var(--main-color);
    border-radius: 8px;
    color: var(--Neutral-50);
}
header.scrolled {
    background-color: #ffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}
#burger-menu {
    display: none;
    cursor: pointer;
}
@media (max-width: 998px) {
    #burger-menu {
        display: block;
    }
    .header-container .btn {
        display: none;
    }
    menu {
        position: absolute;
        top: -999px;
        background-color: #ffff;
        display: flex;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
        width: 48vw;
        padding: 26px;
        text-align: center;
        box-shadow: 0px 9px 18px rgb(0 0 0 / 15%);
        border-radius: 16px;
        transition: 0.4s;
    }
    .header-container {
        background-color: #ffff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
        padding: 26px;
    }
    menu.active {
        top: 13vh;
    }
}
@media (max-width: 1340px) {
    .header-container {
        padding: 26px;
    }
}
.page-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 133px;
}
.page-index .txt {
    max-width: 468px;
}
.page-index img {
    max-width: 630px;
}
.page-index h1 {
    font-weight: 900;
    font-size: 4rem;
    line-height: 75px;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    color: var(--Neutral-700);
}
.page-index h1 span {
    color: var(--main-color);
    text-shadow: 0px 9px 18px rgba(0, 0, 0, 0.15);
}
.page-index p {
    margin-top: 32px;
    font-size: 1.25rem;
    line-height: 1.3;
    color: var(--Neutral-700);
}
.page-index .buttons {
    display: flex;
    gap: 32px;
    margin-top: 32px;
}
.page-index .buttons a {
    padding: 16px 24px;
    border-radius: 8px;
}
.page-index .btn-fill {
    background-color: var(--main-color);
    color: var(--Neutral-50);
}
.page-index .btn {
    color: var(--main-color);
    background-color: var(--Neutral-50);
    border: 1px solid var(--main-color);
}
@media (max-width: 1133px) {
    .page-index img {
        max-width: 355px;
    }
    .page-index h1 {
        font-size: 2.125rem;
        max-width: 284px;
        line-height: 39.84px;
    }
    .page-index p {
        font-size: 1rem;
    }
}
@media (max-width: 780px) {
    .page-index {
        flex-direction: column;
        text-align: center;
    }
    .page-index h1 {
        margin: auto;
    }
    .page-index .buttons {
        justify-content: center;
        margin-bottom: 24px;
    }
    .page-index img {
        max-width: 315px;
    }
}
.parteners {
    padding-top: var(--main-section-padding);
    color: var(--Neutral-500);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}
.parteners .logos {
    display: flex;
    gap: 56px;
    justify-content: space-evenly;
    margin-top: 56px;
    flex-wrap: wrap;
    opacity: 0.5;
}
.services {
    padding-top: var(--main-section-padding);
}
.services h1 {
    font-weight: 700;
    font-size: 2.125rem;
    color: var(--Neutral-700);
    margin-bottom: 24px;
}
.services p {
    color: var(--Neutral-900);
    max-width: 425px;
}
.services .box-container {
    height: 380px;
    margin-top: 56px;
}
.services .box {
    padding: 48px 24px 16px 24px;
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    background-color: #ffff;
    width: calc((100% / 3) - 48px);
    max-height: 326px;
    transition: 0.4s;
    margin-right: 48px;
}
.services .box h2 {
    font-size: 1.5rem;
    color: var(--Neutral-900);
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 24px;
}
.services .box p {
    color: var(--Neutral-700);
}
.services .box.swiper-slide-active {
    background-color: var(--main-color);
}
.services .box.swiper-slide-active h2 {
    color: var(--Neutral-50);
}
.services .box.swiper-slide-active p {
    color: var(--Neutral-300);
}
.services .box.swiper-slide-active img {
    filter: brightness(0) invert(1);
}
@media (max-width: 998px) {
    .services .box-container {
        gap: 0;
    }
    .services .box {
        width: 69%;
        height: 80%;
        margin: auto !important;
    }
    .services h1 {
        text-align: center;
    }
    .services > p {
        text-align: center;
        margin: auto;
        max-width: max-content;
    }
    @media (min-width: 769px) {
        .services .box.swiper-slide-active {
            transform: scale(1.1) translateY(-16px);
        }
        .services .box {
            margin-right: 52px !important;
        }
    }
}
@media (max-width: 768px) {
    .services .box {
        text-align: center;
        width: 92%;
        margin-right: 10px !important;
    }
    .services h1 {
        text-align: center;
        font-size: 1.5rem;
    }
    .services p {
        text-align: center;
        margin: auto;
        max-width: max-content;
    }
}
.offers {
    position: relative;
    margin-bottom: 400px;
}
.offers h1 {
    font-weight: 700;
    font-size: 2.125rem;
    color: var(--Neutral-700);
}
.offers .text-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.offers p#text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    max-width: 550px;
    color: var(--Neutral-900);
}

.offers .swiper-wrapper {
    height: 90px;
}

@media (min-width: 768px) {
    .offers .swiper-wrapper {
        justify-content: center;
        gap: 32px;
    }

}
.offers .swiper-slide {
    padding: 20px 32px;
    width: 212px;
    height: 56px;
    /* Shades/White_0 */
    background: #ffffff;
    /* Shadow/SM */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    transition: 0.4s;
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--Neutral-700);
    text-align: center;
    cursor: pointer;
}
.offers .swiper-slide.swiper-slide-active {
    background: var(--main-color);
    color: #ffffff;
}
.offers .content {
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: -180vw;
    display: flex;
    transition: 0.4s;
}
.offers .content.active {
    left: 0;
}
.offers .content div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.offers .content h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* Neutral/Gray_700 */
    color: var(--Neutral-700);
}
.offers .content p,
.offers .content ul li {
    line-height: 19px;
    text-align: justify;
    color: var(--Neutral-700);
}
.offers img {
    width: 630px;
    height: 350px;
    max-width: 100%;
}
.offers ul {
    list-style: none;
}
.offers ul li {
    display: flex;
    align-items: center;
}
.offers ul li img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}
@media (max-width: 768px) {
    .offers .mySecSwiper {
        margin: 0 !important;
        width: 100%;
    }
    .offers .swiper-slide {
        margin-right: 32px;
    }
}
@media (max-width: 1133px) {
    .offers {
        margin-bottom: 526px;
    }
    .offers .content {
        flex-direction: column-reverse;
        width: 100%;
        align-items: flex-start;
    }
    .offers .content img {
        align-self: center;
    }
}
@media (max-width: 350px) {
    .offers {
        margin-bottom: 640px;
    }
}
.contact {
    padding-top: var(--main-section-padding);
}
.contact h1 {
    font-size: 2rem;
    color: var(--Neutral-700);
    display: flex;
}
.contact h1 img {
    margin-right: 8px;
}
.contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    margin-top: 24px;
}
.contact form .name {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.contact form .name div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}
.contact form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.contact form label {
    font-size: 0.9125rem;
    color: var(--Neutral-700);
}
.contact form input {
    padding: 0px 12px;
    width: 100%;
    height: 50px;
    /* Shades/White_0 */
    background: #ffffff;
    /* Neutral/Gray_300 */
    border: 1px solid #e1e1e1;
    border-radius: 8px;
}
.contact form textarea {
    padding: 16px 12px;
    width: 575px;
    height: 150px;
    /* Shades/White_0 */
    background: #ffffff;
    /* Neutral/Gray_300 */
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    resize: none;
}
.contact .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    border: none;
    width: 183px;
    height: 50px;
    cursor: pointer;
    background: #0065e5;
    border-radius: 8px;
    /* identical to box height */

    letter-spacing: 0.065em;
    text-transform: uppercase;

    /* Shades/White_0 */

    color: #ffffff;
}
@media (max-width: 1133px) {
    .contact form {
        width: 100%;
    }
    .contact .flex-container img {
        display: none;
    }
    .contact form textarea {
        width: 100%;
    }
    .contact button {
        align-self: center;
    }
}
@media (max-width: 768px) {
    .contact .flex-container img {
        display: block;
    }
    .contact .flex-container {
        flex-direction: column-reverse;
    }
}


.testi {
    padding-top: var(--main-section-padding);
    display: flex;
    justify-content: space-between !important;
    position: relative;
}
@media (max-width: 778px) {
    .testi {
        flex-direction: column;
    }
}
.testi .frame {
    width: 375.95px;
    height: 400px;
}
@media (max-width: 998px) {
    .testi .frame {
        width: 250px;
        height: 266px;    }
}
@media (max-width: 778px) {
    .testi .frame {
        width: 329px;
        height: 350px;
        margin: auto;
    }
}
.testi .content p {
    max-width: 428px;
}

.testi .box {
    padding: 32px;
    margin: auto;
    margin-bottom: 32px;
    background-color: #FFFF;
    background: #F9F9F9;
    box-shadow: 0px 9px 18px rgb(0 0 0 / 15%);
    border-radius: 10px;
    opacity: 0.4;
    width: 92%;
    height: 162px;
}

@media (998px < width < 1230px) {
    .testi .box {
        font-size: 0.7rem;
    }
}
@media (max-width:998px) {
    .testi .box {
        font-size: 0.84rem;
        height: 200px;
        margin-top: 6px;
    }
}
.testi .box.swiper-slide-active {
    opacity: 1;
}
.testi .swiper {
    margin: 24px 0 !important;
    height: 600px;
    width: 611px;
}
@media (max-width: 998px) {
    .testi .swiper {
        height: 235px;
        width: 100%;
        transform: translateY(164px);
    }
}
@media (max-width: 778px) {
    .testi .swiper {
        height: 235px;
        width: auto;
        transform: translateY(0);
        margin: 0 !important;
        margin-top: 56px !important;
    }
}
.testi .box .header {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--Neutral-900);
}
.testi .box .job {
    color: var(--Neutral-500);
}
.testi .box .content {
    color: var(--Neutral-700);
    margin-top: 20px;
}
.testi .content {
    display: flex;
    flex-direction: column;
    gap: 46px;
}
.testi .content h1 {
    font-size: 2rem;
    color: var(--Neutral-700);
}
.testi .content h1 img {
    margin-right: 12px;
}
.testi .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-left: 120px
}
@media (max-width: 998px) {
    .testi .btns {
        position: absolute;
        left: 29%;
        top: 68%;
    }
}
@media (max-width: 998px) {
    .testi .btns {
        display: none;
    }
}
.testi #btn-up,
    .testi #btn-down {
        cursor: pointer;
}

footer .container {
    margin-top: 0;
    display: flex;
    gap: 179px;
}
footer {
    background-color: #ffffff;
    padding-top: var(--main-section-padding);
    margin-top: var(--main-section-padding);
}
footer .logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
footer .logo-container img#logo {
    width: 120px;
    height: 51px;
}
footer .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}
footer .content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
footer li a {
    font-size: 12px;
    color: var(--Neutral-900);
}
footer li h3 {
    font-weight: 500;
    color: #00306d;
    font-size: 16px;
}
footer button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 18px;
    background-color: transparent;
    gap: 10px;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
    color: var(--Neutral-900);
}
footer .copyright-terms {
    padding: 16px 0;
    border-top: 1px solid var(--Neutral-500);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: var(--Neutral-900);
    font-size: 0.625rem;
    font-weight: 500;
    margin-top: 16px;
}
footer .terms {
    display: flex;
    gap: 62px;
}
footer .terms a {
    color: var(--Neutral-700);
}
@media (max-width: 999px) {
    footer {
        padding-top: 60px;
    }
    footer .container:first-child {
        flex-direction: column;
        gap: 32px;
    }
}
@media (max-width: 768px) {
    footer .content-container {
        flex-direction: column;
    }
    footer ul {
        margin-bottom: 24px;
    }
    footer .copyright-terms {
        flex-direction: column;
    }
    footer .container {
        gap: 20px;
    }
    footer .copyright {
        text-align: center;
    }
    footer .terms {
        justify-content: center;
    }
}